body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 200;
  color: #262627;
}

a:not([class^='tf-v1']) {
  color: #262627;
  border-bottom: 1px solid #262627;
  text-decoration: none;
}

a:hover {
  color: #262627;
  text-decoration: none;
}

h1,
h2,
a,
a:hover {
  font-weight: 200;
}

h1 {
  margin-bottom: 1rem;
}

.btn {
  font-weight: 200;
  border-radius: 0;
  background: #262627;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

p {
  font-size: 1.2rem;
}

hr {
  border-top: 1px solid #262627;
}

.examples {
  padding: 60px 0 80px;
}

.examples-section {
  display: block;
  position: relative;
}

.buttons-wrapper {
  display: flex;
}

.buttons-wrapper > div {
  margin-right: 20px;
}
