body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, a, a:hover {
  color: #cb732b;
}

h1 {
  font-weight: bold;
}

.Examples {
  padding: 60px 0 80px;
}

.Examples__widget-section,
.Examples__popup-section {
  display: block;
  position: relative;
}

.Examples__widget-section {
  height: 400px;
}
